{% extends "ap2.j2" %}

{% block summary %}
<p>
Het applicatieprofiel "Schuldbeheer" heeft als doel om de informatie omtrent "Eenheid van schuld" te standaardiseren en een gemeenschappelijk begrip van essentiële informatie te ontwikkelen. Dit applicatieprofiel is ontwikkeld binnen het GZG (Gemeente-zonder-gemeentehuis) Boost traject, samen met Lokaal Digitaal, specifiek voor het lokaal bestuur van Gent. Het beoogt een gemeenschappelijke taal en begrip te creëren over het begrip ‘eenheid van schuld’ tussen leveranciers en lokale besturen, die vaak verschillend communiceren.
</p>
<p>
Het OSLO-traject richtte zich op het definiëren van concepten en het vastleggen van de juiste relaties om dit begrip operationeel te maken. Het uiteindelijke doel is om een aanvullend invorderingstraject voor financiële directeurs te realiseren.
</p>
<p>
Dit applicatieprofiel biedt een raamwerk voor het verzamelen en delen van relevante gegevens met derden.
</p>
{% endblock %}

{% block status %}
<p>
Dit applicatieprofiel heeft status <a href="https://data.vlaanderen.be/id/concept/StandaardStatus/KandidaatStandaard">Kandidaat Standaard</a>
 en werd uitgegeven op 2024-09-05.
</p>
<p>
Informatie over het gevolgde proces en de beslissingen om tot deze specificatie te komen zijn beschikbaar in het <a href="https://data.vlaanderen.be/standaarden/applicatieprofiel-schuldbeheer/">standaardenregister</a>.
</p>
{% endblock %}
