{% extends "voc2.j2" %}

{% block summary %}
<p>
</p>
{% endblock %}

{% block status %}
<p>
Dit vocabularium heeft status <a href="https://data.vlaanderen.be/id/concept/StandaardStatus/OntwerpStandaard">Ontwerp Standaard</a>
en werd uitgegeven op 2024-06-20.
</p>
{% endblock %}
