{% extends "voc2.j2" %}

{% block summary %}
<p>
Het vocabularium "Schuldbeheer" heeft als doel om de informatie omtrent "Eenheid van schuld" te standaardiseren en een gemeenschappelijk begrip van essentiële informatie te ontwikkelen. Dit vocabularium is ontwikkeld binnen het GZG (Gemeente-zonder-gemeentehuis) Boost traject, samen met Lokaal Digitaal, specifiek voor het lokaal bestuur van Gent. Het beoogt een gemeenschappelijke taal en begrip te creëren over het begrip ‘eenheid van schuld’ tussen leveranciers en lokale besturen, die vaak verschillend communiceren.
</p>
{% endblock %}

{% block status %}
<p>
Dit vocabularium heeft status <a href="https://data.vlaanderen.be/id/concept/StandaardStatus/KandidaatStandaard">Kandidaat Standaard</a>
en werd uitgegeven op 2024-09-05.
</p>
<p>
Informatie over het gevolgde proces en de beslissingen om tot deze specificatie te komen zijn beschikbaar in het <a href="https://data.vlaanderen.be/standaarden/vocabularium-schuldbeheer/">standaardenregister</a>.
</p>
{% endblock %}
